### Program # 1

In [1]:
print("Hello, Umair!")

Hello, Umair!

### Program # 2

In [2]:
#Print sum of two numbers
n1 = float(input("Enter first number: "))
n2 = float(input("Enter second number: "))

sum = n1 + n2

print(sum)

25.0

In [11]:
#Division of two numbers
n3 = float(input("Enter first number: "))
n4 = float(input("Enter second number: "))

division= n3/n4
if n4 == 0:
    raise ValueError("Cannot divide by zero")
    
    
else: 
    print(division)

5.0

In [12]:
#Multiplication of two numbers
n5 = float(input("Enter first number: "))
n6 = float(input("Enter second number: "))

mul = n5 * n6

print(mul)

15.0

### Program # 3

In [ ]:
#Area of Triangle
base = float(input("Enter base of triangle: ")) 
height = float(input("Enter height of triangle: "))
area = 0.5 * base * height  

print("Area of triangle is:", area)

Area of triangle is: 3.0

In [1]:
#Area of a circle

#import math library to use pi constant
import math

radius = float(input("Enter radius of circle: "))

#Calculate area of circle using the formula: area = Ï€ * r^2

area_circle = round(math.pi * (radius ** 2), 2)  # rounding to 2 decimal places 

#Print the area of circle

print(f"Area of circle is:{area_circle}")

Area of circle is:1661.9

### Program # 4

In [3]:
#Swap two variables
print("Swapping two variables")

a = input("Enter first variable: ")
b = input("Enter second variable: ")

print("Before swapping(a): ",a)
print("Before swapping(b): ",b)

# Swapping using a temporary variable
temp = a
a  =  b
b = temp

print("After swapping(a): ",a)
print("After swapping(b): ",b)

Swapping two variables
Before swapping(a):  2
Before swapping(b):  3
After swapping(a):  3
After swapping(b):  2

In [ ]:
# without using a temporary variable
a = input("Enter first variable: ")
b = input("Enter second variable: ")

print("Before swapping(a): ",a)
print("Before swapping(b): ",b)

a, b = b, a
print("After swapping(a): ",a)
print("After swapping(b): ",b)

Before swapping(a):  6
Before swapping(b):  2
After swapping(a):  2
After swapping(b):  6

### Program # 5

In [10]:
#Generate random number

import random
print("Generating random number between 1 and 100")
random_number = random.randint(1, 100)

print("Random number is:", random_number)

Generating random number between 1 and 100
Random number is: 19

### Program # 6

In [12]:
#Covert Kilometers to Miles

kilometers = float(input("Enter distance in kilometers: "))

# Conversion factor

# 1 kilometer = 0.621371 miles

miles = kilometers * 0.621371

print(f"{kilometers} kilometers is equal to {miles} miles")

5.0 kilometers is equal to 3.106855 miles

### Program # 7

In [16]:
#Convert Celsius to Fahrenheit

celsius = float(input("Enter temperature in Celsius: "))

# Conversion formula: Fahrenheit = (Celsius * 9/5) + 32
fahrenheit = (celsius * 9/5) + 32

print(f"{celsius} Celsius is equal to {fahrenheit} Fahrenheit")

40.0 Celsius is equal to 104.0 Fahrenheit

### Program # 8

In [17]:
# Display Calendar of a month

import calendar

year = input("Enter year: ")
month = input("Enter month (1-12): ")

cal = calendar.month(int(year), int(month))

print(cal)

    August 2025
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [18]:
#Calendar of a year
import calendar
year = int(input("Enter year: "))

cal = calendar.calendar(year)


print(cal)

                                  2025

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31